---
import { ClientRouter} from 'astro:transitions';
import '../styles/global.css';

export interface Props {
  title: string;
  description?: string;
  image?: string;
}

const { title, description = "Antareep's Blog", image } = Astro.props;
const canonicalURL = new URL(Astro.url.pathname, Astro.site);
const defaultImage = new URL('/blog/linkimg.webp', Astro.site || Astro.url.origin).href;
const finalImage = image ? new URL(image, Astro.site || Astro.url.origin).href : defaultImage;
---

<!doctype html>
<html lang="en" class="h-full">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="icon" type="image/svg+xml" href="/blog/favicon.png" />
    <meta name="generator" content={Astro.generator} />
    
    <!-- SEO Meta Tags -->
    <title>{title}</title>
    <meta name="description" content="A cozy corner where my silly thoughts live." />
    <link rel="canonical" href={canonicalURL} />
    
    <!-- Open Graph -->
    <meta property="og:title" content="Antareep's Blog" />
    <meta property="og:description" content="A cozy corner where my silly thoughts live." />
    <meta property="og:url" content={canonicalURL} />
    <meta property="og:site_name" content="Antareep's Blog" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content={finalImage} />
    
    <!-- Twitter Card -->
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:title" content="Antareep's Blog" />
    <meta name="twitter:description" content="A cozy corner where my silly thoughts live." />
    <meta name="twitter:image" content={finalImage} />
    
    <ClientRouter />
    
    <script is:inline>
      function setTheme() {
        const theme = localStorage.getItem('theme') || 'light';
        if (theme === 'dark') {
          document.documentElement.classList.add('dark');
        } else {
          document.documentElement.classList.remove('dark');
          localStorage.setItem('theme', 'light');
        }
      }
      setTheme();
      document.addEventListener('astro:after-swap', setTheme);
    </script>
  </head>
  <body class="h-full antialiased">
    <slot />
  </body>
</html>